/*Gooogle fonts

font-family: 'Italianno', cursive;
font-family: 'Abhaya Libre', serif;

/* Stylesheet for Mobile App */

/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 
{
    margin:0;
    /*padding:0;*/
}
body{
    background-color:dimgray;
}


div#container
{
    width:100%;
    border:3px solid White;
    background-color:azure;
    text-align: center;
    
}

header{
    width:100%;
    height: auto;
    /*padding:50px;*/
    background-color:darkgoldenrod;
   
}
header img#applogo{
    display:block;
    margin:auto;
    width:50px;
    padding-top: 10px;
}

header h1{
    color:black;
    text-align: center;
    font-family: "Special Elite", cursive;
    font-size: 2.5em;
}

div#content{
    width:100%;
    background-color:bisque;
    
}
div#content img{
    display:block;
    margin:auto;
    width: 400px;
    height: 400px;
    margin-bottom:auto;
}
div#content p{
    height:400px;
    width:400px;
    margin:5px auto;
    text-align: center;
}
/*
nav{
    background-color:cyan;
    color:burlywood;
    font-size: 1.5em;
}
nav ul{
    list-style: none;
}

nav ul li a{
    float:left;
    display:block;
    padding: 5px 15px;
    border-right: 2px solid BLACK;
    color:darkgoldenrod;
    text-decoration: none;
    
}
nav ul li a:hover{
    background-color:azure;
    color:darkred;
}

*/

.icon-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:cyan;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding:12px 0;
    transition: all 0.3s ease;
    color:burlywood;
    font-size:36px;
}

.icon-bar a:hover{
    background-color:floralwhite;
}

.active {
    background-color:aliceblue;
}
/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: darksalmon;
}
*/

div#product_grp{
    width: auto;
    margin: auto;
    
}
figure.product{
    display:block;
	float:left;
	margin:10px 15px;
	min-width:30%;
	max-width:45%;
	background-color:aliceblue;
	border-radius:5%
    
}

figure.product img{
    display: block;
    padding: 10px 0;
    width: auto;
    margin: auto;
    border: solid;
}
figure.product figcaption{
    text-align: center;
    color:black;
    font-family: fantasy;
    font-size: 24px;
}
div.keepOpen{
    clear:both;
}
@media screen and (max-width: 600px) {
	figure.product{
		float:none;
		margin:10px auto;
		min-width:50%;
		max-width:100%;
		background-color: cadetblue;
		border-radius:5%;
	}
	figure.product figcaption{
	text-align: center;
	color:white;
	font-family: fantasy;
	font-size:12px;
}
    
legend, span, input, textarea {
		display:block;
		margin:auto;
		text-align:center;
		font-family:sans-serif;
		color:black;
	}

}
