/*Gooogle fonts

font-family: 'Italianno', cursive;
font-family: 'Abhaya Libre', serif;

/* Stylesheet for Mobile App */

/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 
{
    margin:0;
    padding:0;
}
body{
    background-color:dimgray;
}


div#container
{
    width:100%;
    border:3px solid White;
    background-color:azure;
}

header{
    width:95%;
    padding:50px;
    background-color:darkgoldenrod;
}
header img#applogo{
    display:block;
    margin:auto;
    width:100px;
}

header h1{
    color:black;
    text-align: center;
    font-family: "Special Elite", cursive;
    font-size: 2.5em;
}

div#content{
    width:100%;
    background-color:aliceblue;
}

/*
nav{
    background-color:cyan;
    color:burlywood;
    font-size: 1.5em;
}
nav ul{
    list-style: none;
}

nav ul li a{
    float:left;
    display:block;
    padding: 5px 15px;
    border-right: 2px solid BLACK;
    color:darkgoldenrod;
    text-decoration: none;
    
}
nav ul li a:hover{
    background-color:azure;
    color:darkred;
}

*/

.icon-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:cyan;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding:12px 0;
    transition: all 0.3s ease;
    color:burlywood;
    font-size:36px;
}

.icon-bar a:hover{
    background-color:floralwhite;
}

.active {
    background-color:aliceblue;
}
/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: darksalmon;
}
div.keepOpen{
    clear:both;
}
@media screen and (max-width:600px){
    div#container{
        width:100%
    }
    nav ul li a{
        float:none;
        text-align: center;
    }
}
*/